# Cipher - a backtesting framework

[Tutorial](https://cipher.nanvel.com/tutorial.html)

[Documentation](https://cipher.nanvel.com/components.html)

[GitHub](https://github.com/nanvel/cipher-bt)

To create a new strategy from template template:
```shell
cipher new <strategy_name>
```
